.no-scroll {
    --overflow: hidden;
}
ion-toolbar {
    .notification-icon-button {
        .btn_badge {
            --overflow: visible;
        
            ion-badge {
                position: absolute;
                background: #f70b0b;
                border-radius: 50%;
                opacity: 0.9;
                top: -4px;
                right: -3px;
                width: 20px;
                height: 20px;
                font-size: 10px;
            }
        }
    }
  }
  

  ion-segment-button{
    --indicator-box-shadow: transparent!important;
    --background:white;
    --color:#ffa64d;
    --background-checked: #ffa64d !important;
    --color-checked: white;
    --indicator-color : transparent!important; /* this solution */
    }