<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="color: #fff;">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: #fff;">Lupa Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: var(--ion-color-bg);">

  <!-- <div style="width: 100%;text-align:center;margin-top: 60px; margin-bottom: 30px;">
    <img src="assets/img/logo.png" style="width:180px;" alt="Ionic logo">
  </div> -->
  <div style="text-align: center;padding: 20px;background: var(--ion-color-primary);margin: 3% 3%;border-radius: 20px;">
    <div style="margin-bottom: 20px;">
      <h5 style="margin: 0px;"><b style="color: #fff;">Lupa Password</b></h5>
    </div>
    <br>
  <form #signupForm="ngForm" novalidate>
    <ion-list lines="none" style="border-radius: 20px;">
        <ion-item>
          <ion-label position="stacked" color="primary">Email</ion-label>
          <ion-input [(ngModel)]="signup.email" name="email" type="email" placeholder="Silahkan masukkan email anda" #email="ngModel" required>
          </ion-input>
        </ion-item> 
        <ion-item>
          <ion-button (click)="kirim_kode()">Kirim Kode</ion-button>
        </ion-item> 
        <ion-item>
          <ion-label position="stacked" color="primary">Kode Unik</ion-label>
          <ion-input [(ngModel)]="signup.kode_unik" name="kode_unik" type="text" placeholder="Silahkan masukkan kode unik" #email="ngModel" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-button (click)="reset_password()" color="light"
          style="--border-radius:15px;">Reset Password</ion-button>
        </ion-item>                             
    </ion-list>
  </form>
  </div>

</ion-content>
